{
  "presets": [
    "react-native"
  ],
  "plugins": [
    "transform-decorators-legacy",
    //   , "transform-decorators",
    //    [
    "transform-inline-environment-variables"
    //      ,{
    //        "include": [
    //          "NODE_ENV"
    //        ]
    //      }
    //    ]
  ]
}
